/* estilohtm.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Ajusta el tamaño mínimo/máximo de las columnas */
    gap: 15px;
    /* Espaciado entre imágenes */
    padding: 20px;
    justify-items: center;
    /* Centra las imágenes horizontalmente */
    transition: filter .6s ease;
}

.img {
    width: 100%;
    /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
    height: 250px;
    /* Altura fija para mantener la proporción */
    object-fit: fill;
    /* Recorta las imágenes para ajustarlas al contenedor */
    border-radius: 20px;
    /* Bordes redondeados para un diseño más atractivo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.video {
    width: 100%;
    /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
    height: 250px;
    /* Altura fija para mantener la proporción */
    object-fit: cover;
    /* Recorta las imágenes para ajustarlas al contenedor */
    border-radius: 20px;
    /* Bordes redondeados para un diseño más atractivo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



@media (max-width: 600px) {
    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        /* Ajusta el tamaño mínimo/máximo de las columnas */
    }
    .img{
        width: 100%;
    /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
    height: 200px;
    /* Altura fija para mantener la proporción */
    }

    .video{
        width: 100%;
    /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
    height: 200px;
    /* Altura fija para mantener la proporción */
    }
}
