@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@font-face {
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}

:root {
    /* rojos blancos y azul negros */
    --padding-container: 100px 0;
    --color-title: #1d1d5c;
    --color-card: #e5e5f7;
    --color-cta: #cf1515;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.filter {
    position: fixed;
    background-color: #00000000;
    -webkit-backdrop-filter: blur(0px);
    -moz-backdrop-filter: blur(0px);
    -ms-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 99;
    pointer-events: none;

    transition: 0.5s;
    animation: transition ease-in-out;
    will-change: transform;
}

.filter--show {
    -webkit-backdrop-filter: blur(60px);
    -moz-backdrop-filter: blur(60px);
    -ms-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    transition: 0.5s;
    animation: transition ease-in-out;
    will-change: transform;
}

/* Clase para desactivar el scroll */
.no-scroll {
    overflow: hidden;
    height: 100%;
    /* Asegura que el contenido no se mueva */
}

/* Estilo general de la barra de desplazamiento */
body::-webkit-scrollbar {
    width: 15px;
    /* Ancho de la barra */

}

/* Fondo transparente del track */
body::-webkit-scrollbar-track {
    background: var(--color-price);
    /* Fondo completamente transparente */
}

/* Estilo del pulgar (thumb) */
body::-webkit-scrollbar-thumb {
    background: var(--color-card);
    /* Pulgar con opacidad */
    border-radius: 15px;
    /* Bordes redondeados */
    border: solid 3px var(--color-price);
    transition: all .5s;
}

/* Para que las barras no ocupen espacio extra */
body {
    overflow: overlay;
    /* Habilita barras flotantes en navegadores compatibles */
    margin: 0;
    /* Elimina márgenes extra */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hidden {
    opacity: 0.5;
    scale: 0.9;
    transform: translateY(0px);
    filter: blur(2px);
    transition: opacity 0.9s, filter 0.9s, transform 0.5s ease, scale 0.5s ease;
}

.show {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
    filter: blur(0, 0, 0);
    filter: blur(0px);
}


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/fachada.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0 80%);
    background-position: 50% 13%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 100;
    font-size: 100%;
    text-align: center;
    font-family: Impact;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;

}

.nav__item {
    list-style: none;

}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__links:hover {
    transform: scale(1.3);
}



.logo {
    max-width: 150px;
    min-width: 10px;
    margin-top: 50%;
    display: grid;
    gap: 1em;
    justify-items: center;
    overflow: hidden;
    margin: 0 auto;

}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    /* display none es porque no lo quiero ver hasta en dispositivos moviles */
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: var(--color-cta);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    transition: all .5s;

}

.cta:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

/* about */
.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    /* columnas dinamicas */
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;

}

.about__paragraph__container {
    padding-bottom: 10px;
}

.about__icon {
    width: 40px;
    color: var(--color-cta);
}

/* knowledge */

.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.6px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.6px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture {
    max-width: 500px;
    margin: 13px;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img {
    box-shadow: 0px 0px 0px #00000000;
    border-radius: 20px;
    width: 100%;
    display: block;
    transition: all 0.5s;
}

.knowledge__img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #0000003b;
}

.cta__knowledge {
    margin-left: 20px;
}

/* price */

/* Asegurando que todos los navegadores reconozcan las propiedades personalizadas */
:root {
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta: #fff;
    --color-cta: #1d1d5c;
    --color-items: #696871;
}

/* Alineación de texto centrado */
.price {
    text-align: center;
}

/* Ocultar entradas de radio */
.price__slider input[type=radio] {
    display: none;
}

/* Estilos de la tabla de precios */
.price__table {
    padding-top: 60px;
    display: -webkit-box;
    /* Versiones antiguas de Safari */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -webkit-box-pack: center;
    /* Versiones antiguas de Safari */
    -ms-flex-pack: center;
    /* IE 10 */
    justify-content: space-evenly;
    -webkit-box-align: center;
    /* Versiones antiguas de Safari */
    -ms-flex-align: center;
    /* IE 10 */
    align-items: center;
    flex-wrap: wrap;
    /*wrap*/
    gap: 2.5em;

}

/* Estilos de los elementos de precio */
.price__element {
    background-color: var(--color-card);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    min-width: 275px;
    padding: 40px;
    /* Creación de propiedades personalizadas */
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta: #fff;
    --color-cta: #1d1d5c;
    --color-items: #696871;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Versiones antiguas de Safari */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: transform 0.3s ease;
    /* Versiones antiguas de Safari */
    transition: transform 0.3s ease;
}

.price__element:hover {
    -webkit-transform: scale(1.05);
    /* Versiones antiguas de Safari */
    transform: scale(1.05);
}


.price__element--best {
    width: 370px;
    padding: 60px 40px;
    background-color: #cf1515;
    --color-plan: rgba(255 255 255 /75%);
    --color-price: #fff;
    --bg-cta: #971111;
    --color-cta: #fff;
    --color-items: rgba(255 255 255 /75%);
}

.price__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price {
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items)
}

.price__cta {
    display: block;
    /*para que ocupe todo el ancho*/
    padding: 20px 0;
    /*arribaYabajo IzdaYdcha*/
    border-radius: 20px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;

    color: var(--color-cta);
    transition: all .5s;
    cursor: pointer;

}

.price__cta:hover {
    background-color: var(--color-cta);
    color: var(--bg-cta);
    transform: scale(1.1);
    transition: all .5s;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}


/* album */
.album__body {
    background-color: #e5e5f7;
    display: flex;
    flex-direction: column;
    /* Organiza los hijos en columna */
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    /* Centra verticalmente */
    min-height: 770px;
    height: 100vh;
    max-height: 1000px;
    /* Asegura que ocupa toda la pantalla */
}

.album__container {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: absolute;
    /* Asegura que ocupe todo el ancho */
    display: flex;
    /* Aplica flexbox para centrar los hijos */
    flex-direction: column;
    /* Apila los elementos verticalmente */
    align-items: center;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
    -webkit-mask-image: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}


.album__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    max-height: 700px;
    display: flex;
    /* Flexbox para centrar los hijos */
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    /* Centra verticalmente */
    scroll-behavior: smooth;
}

.cta__album {
    margin: 2px auto 30px auto;
    /* Centra el botón */
    border-style: none;
    display: block;
    /* Cambia a block para que el margen auto funcione */
    text-align: center;
    /* Asegura el contenido centrado si hay texto */
}





.cta__album:hover {
    cursor: pointer;
}

/* cards */
.card__list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-left: 60%;
    padding-right: 60%;
}

.card__item {
    box-sizing: content-box;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    color: var(--color-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centar horizontalmente con flex*/
    justify-content: center;
    justify-items: center;
    text-align: center;
    background: #ffffff;
    min-width: 400px;
    padding: 35px;
    margin: 35px;
    border-radius: 23px;
    transition: all .5s;
}



.card__content {
    transition: filter 1s ease;
}

.blurred .card__content {
    filter: blur(0px);
}

.scaled img {
    scale: 3.04 2.8;
    border-radius: 50%;
    translate: 0% 71.5%;
    border-radius: 6px;
}


/* Estilo de la barra de scroll */
.card__list::-webkit-scrollbar {

    width: 10px;
    height: 10px;
    border-radius: 10px;

}

/* Color del fondo de la barra de scroll */
.card__list::-webkit-scrollbar-track {
    background: #ffffff00;
    /* Color de fondo de la barra */
    border-radius: 10px;
}

/* Color y estilo de la barra */
.card__list::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    /* Color de la barra */
    border-radius: 10px;
    border: solid 0px;
    /* Bordes redondeados */
    scroll-snap-align: center;
    transition: all 1s;
}

.card__list::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

.card__list::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}


.album__body {
    background-color: #e5e5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.album__image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    /*para no distorcionar la imagen*/
    object-position: 50% 50%;
    /* para ubicar la imagen al centro pero un poco  arriba (30%)*/
    margin-bottom: 40px;
    transition: border-radius .5s ease, scale .5s ease, z-index 1s step-end, translate .5s ease;
    z-index: 40;
}

.image__description {
    font-size: 1rem;
    color: #0d0f27;
    font-weight: 500;
    margin: 14px 0 40px;
}

.expand__button {
    font-weight: 600;
    padding: 10px 35px;
    color: #1d1d5c;
    background-color: #c8c8e775;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.expand__button__div {
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    background-color: #ff000000;
    transition: all .5s ease;
    z-index: 41;
}

.expand__button__div:hover {
    scale: 1.1;

}

.expand__button__div:active {
    scale: .9;
}

/* questions */

.questions {
    text-align: center;
}

.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;

}

.questions__padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 15px;
}

.questions__padding--add {
    padding-bottom: 20px;
}

.questions__answer {
    padding: 0px 30px;
    /* 0px arriba 30px derecha e izquierda 0px abajo*/
    overflow: hidden;

}

.questions__title {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
    /*hacia las orillas*/

}

.questions__arrow {
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    align-self: flex-end;
    margin: auto 0 auto 10px;
    transition: transform .3s;
    justify-content: center;
    align-items: center;
}

.questions__arrow--rotate {
    transform: rotate(-180deg);
}

.questions__show {
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img {
    display: block;
}

.questions__copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#cta_question{
    border: none;
    margin-top: 50px;
    margin-bottom:25px;
    font-weight: 400;
    font-size: 1.3rem;
    padding: auto;
    display: flex;
    align-items: center;
    padding-right:20px;
}
#img_question{
    height: 35px;
    width:35px;
    margin-left: 15px;
}

/* footer */

.footer {
    background-color: var(--color-price);
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: Impact;
}

.footer__title,
.footer__newsletter {
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav__footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
    /*si no caben en la linea que se desborden*/
}

.rock__number {
    white-space:nowrap;
    width: auto;
    height: auto;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 1.8rem;
    margin: auto 10px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121929;
    margin-top: 40px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
    z-index: 11;
    scale: .95;
}

.rock__number:hover {
    background: #0c111b;
    transition: all .4s;
    scale: 1;
}

.rock__number:active {
    scale: .9;
    background: #121929;
}

#copied {
    color: #fff;
    position: absolute;
    margin-left: 250px;
    margin-top: 40px;
    font-size: small;
    background: #cf1515;
    padding: 8px 10px 5px;
    border-radius: 20px;
    /* display: none; */
    transition: all .4s ease-out;
    filter: blur(3px);
    scale: .1;
    z-index: 10;
}

#copied::before {
    content: "";
    position: absolute;
    left: 35%;
    top: 26px;
    background: #cf1515;
    width: 20px;
    height: 20px;
    clip-path: polygon(0% 0%, 50% 40%, 100% 0%);
}

#img_copy {
    margin-left: 20px;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__icons {
    display: inline-flex;
    /*es como un flex (flexible) pero en linea (horizontal obviamente)*/
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}

.footer__copyright {
    font-size: 0.9rem;
    font-weight: 100;
}

/*adaptarlo a moviles o media queries*/
@media (max-width:1041px) {
    .about__main {
        gap: 2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
        /*hace que el ultimo icono utilice el espacio del primer icono hasta el ultimo (que se centre dinamicamente)*/
    }



}

/* responsive para tablets */
@media (max-width:800px) {
    .hero::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/fachada.jpg);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 90%, 0 85%);
        background-position: 50% 13%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -100;
    }

    .nav__title {
        font-weight: 10;
        font-size: 70%;
        text-align: center;
        font-family: Impact;
    }

    .logo {
        max-width: 100px;
        min-width: 10px;
        margin-top: 50%;
        display: grid;
        gap: 1em;
        justify-items: center;
        overflow: hidden;
        margin: 0 auto;
    }

    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #00000079;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .filter--show {
        -webkit-backdrop-filter: blur(30px);
        -moz-backdrop-filter: blur(30px);
        -ms-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        transition: 0.5s;
        animation: transition ease-in-out;
        will-change: transform;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        /*1 columna de 1 fraccion*/
        grid-template-rows: max-content 1fr;
        /*que tenga 2 filas, 1 max contenido y otra de 1 fraccion*/
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture {
        grid-row: 1/2;
        justify-self: center;
        /*centrar horizontalmente*/
    }

    .cta__knowledge {
        margin-left: 0px;
    }


    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img {
        width: 200px;
        height: 200px;
    }

    .questions__copy {
        width: 100%;
    }

    .footer__container {
        flex-wrap: wrap;
        /* si se desbordan que pase a otra linea*/
    }

    .nav__footer {
        width: 100%;
        justify-items: center;
        /*centrar horizontalmente*/
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        /*para guardar la misma distancia entre items*/
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }

    .footer__copyright {
        font-size: 0.75rem;
        font-weight: 100;
    }
}

/* responsive para celulares */
@media (max-width:600px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__paragraph {
        font-size: 0.8rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    /* Asegurando que todos los navegadores reconozcan las propiedades personalizadas */
    :root {
        --color-plan: #696871;
        --color-price: #1d293f;
        --bg-cta: #fff;
        --color-cta: #1d1d5c;
        --color-items: #696871;
    }

    /* Alineación de texto centrado */
    .price {
        text-align: center;
        margin: 0;
        width:100%;
    }

    .price__wrapper {
        -webkit-mask-image: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    /* Ocultar entradas de radio */
    .price__slider input[type=radio] {
        display: none;
    }

    /* Estilos del deslizador de precios */
    .price__slider {
        display: -webkit-box;
        /* Versiones antiguas de Safari */
        display: -ms-flexbox;
        /* IE 10 */
        display: flex;
        column-gap: 1rem;
        position: absolute;
        top: 1.25rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        /* Versiones antiguas de Safari */
        transform: translateX(-50%);
        z-index: 50;
    }
    .price__element:hover {
        -webkit-transform: scale(1);
        /* Versiones antiguas de Safari */
        transform: scale(1);
    }

    /* .price__slider a {
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background-color: #001A49;
        cursor: pointer;
        opacity: .75;
        -webkit-transition: opacity ease-in-out 250ms;
        transition: opacity ease-in-out 250ms;
    }

    .price__slider a:hover {
        opacity: 1;
    }

    .price__slider a::backdrop {
        opacity: 1;
    } */

    /* Estilos del contenedor de precios */
    .price__wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        -webkit-scroll-behavior: smooth;
        /* Versiones antiguas de Safari */
        scroll-behavior: smooth;
    }

    /* Estilos de la tabla de precios */
    .price__table {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 40px;
        -webkit-scroll-snap-type: x mandatory;
        /* Versiones antiguas de Safari */
        scroll-snap-type: x mandatory;
        -webkit-scroll-behavior: smooth;
        /* Versiones antiguas de Safari */
        scroll-behavior: smooth;
    }

    .price__element {
        width: 95%;
        margin: 40px 10%;
        padding: 40px;
        flex: 1 0 80%;
        -webkit-scroll-behavior: smooth;
        /* Versiones antiguas de Safari */
        scroll-behavior: smooth;
        -webkit-scroll-snap-align: center;
        /* Versiones antiguas de Safari */
        scroll-snap-align: center;
        margin-bottom: 1.25rem;
    }

    .button__class {
        transition: all 1s ease-in-out;
    }

    .price__element--best {
        width: 90%;
        /* padding: 40px; */
    }

    #slider__1 {
        margin-left: 10%;
    }

    #slider__3 {
        margin-right: 10%;
    }

    .price__table::-webkit-scrollbar {
        height: 10px;
        /* background-color: #001a4970; */
        border-radius: 5px;
    }

    .price__table::-webkit-scrollbar-thumb {
        background-color: var(--color-card);

        border-radius: 5px;
        cursor: grab;
    }

    .price__table::-webkit-scrollbar-thumb:active {
        cursor: grabbing;
    }

    .price__price {
        font-size: 2rem;
    }


    /* cards */
    .card__item {
        min-width: 240px;
    }

    .card__content {
        transition: filter 1s ease;
    }

    .blurred .card__content {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    .scaled img {
        scale: 2 2;
        border-radius: 50%;
        translate: 0% 30%;
        border-radius: 9px;
    }


    /* questions */
    .questions__title {
        font-size: 1rem;
        align-items: center;
        /* centrar verticalmente*/
    }

    .nav__footer {
        padding: 0;
        margin-bottom: 40px;
    }

    .footer__title {
        justify-self: start;
        font-size: 1.8rem;
        margin: 15px;
    }

    .nav__footer {
        padding-bottom: 60px;
        margin: 0;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin-left: 0;
    }

    .footer__newsletter {
        font-size: 1.4rem;
    }
}